.auth-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  direction: rtl;
  font-family: "Vazir", sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
}

.auth-title {
  margin-bottom: 20px;
  color: #333;
  font-family: 'lale';
}
.auth-input::placeholder{
    direction: ltr;
}
.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.editbox{
  display: flex;
  padding: 10px;
  align-items: center;
  margin-top: -10px;
  height: 50px;
  font-family: 'lale';
  justify-content: space-between;
}
.editbt{
  border: none;
  background-color: #fff;
}
.editbt:hover{
  color:  #f6d31f;
}
.recode{
  margin-top: 10px;
}
.auth-button {
  width: 100%;
  padding: 12px;
  font-family: lale;
  font-size: 20px;
  background-color: #f6d31f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #fff;
  border: 2px solid  #f6d31f;
  color:  #f6d31f;
}

.code-box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
}

.code-text {
  margin-bottom: 10px;
  color: #444;
  font-family: 'lale';
}
.resendcodebt{
  border: none;
  background-color: #fff;

}
.resendcodebt:hover{
  color: #f6d31f;
}